@media only screen and (max-width: 960px) {
	#ref-settings { display: none !important; }
	#nav-settings { display: inline-block !important; }
}

@media only screen and (max-width: 795px) {
	.logo { padding-left: 10px; }
	.nav-settings { margin-right: 10px; }
	.container:before { margin-top: 0px; margin-left: -70px; font-size: 38em; }
	.description { font-size: 1em; }
	.descr-2 { color: #999999; }
	.descr-mid { display: none; }
	.descr-break { display: inline; }
	.url { width: 300px; }
	.keyword { width: 250px; }
	.nopage { display: block; width: 100%; margin: 0 0 10px 0;}
	.footer ul { width: 100%; }
	.footer ul li { float: none; line-height: 30px; }
	.footer ul li:nth-child(1) { padding-left: 0px; }
	.footer ul li:nth-child(2) { margin-left: 0px; }
	.footer-copy { line-height: 50px; }
}

@media only screen and (max-width: 380px) {
	.url { width: 250px; }
	.keyword { width: 200px; }
}