@import url('normalize.css');
@import url('icons.css');
@import url('icons-ie7.css');
@import url('animation.css');

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v12-latin-regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
       url('fonts/montserrat-v12-latin-regular.woff') format('woff'),
       url('fonts/montserrat-v12-latin-regular.ttf') format('truetype'),
       url('fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg');
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v12-latin-700.eot');
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('fonts/montserrat-v12-latin-700.eot?#iefix') format('embedded-opentype'),
       url('fonts/montserrat-v12-latin-700.woff2') format('woff2'),
       url('fonts/montserrat-v12-latin-700.woff') format('woff'),
       url('fonts/montserrat-v12-latin-700.ttf') format('truetype'),
       url('fonts/montserrat-v12-latin-700.svg#Montserrat') format('svg');
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/raleway-v12-latin-regular.eot');
  src: local('Raleway'), local('Raleway-Regular'),
       url('fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/raleway-v12-latin-regular.woff2') format('woff2'),
       url('fonts/raleway-v12-latin-regular.woff') format('woff'),
       url('fonts/raleway-v12-latin-regular.ttf') format('truetype'),
       url('fonts/raleway-v12-latin-regular.svg#Raleway') format('svg');
}

input:focus, select:focus, textarea:focus, button:focus { outline: none; }
[contenteditable="true"]:focus { outline: none; }
input { border-radius: 0; -webkit-appearance: none; }
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 25px #ffffff inset; }
html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
body { background: #eeeeee; font-family: Raleway; }
a { text-decoration: none; color: #cc1cae; }
a:hover { color: #8e167a; }
.divanim-slow { -webkit-transition: .5s; -moz-transition: .5s; transition: .5s; }
.container{ width: 100%; height: 100%; position: relative; text-align: center; overflow: hidden; }
.container:before { display: block; margin-top: -210px; color: rgba(90,90,90,0.04); font-family: 'icons'; font-size: 80em; content: "\f127"; }
.header { width: 100%; height: 60px; position: absolute; top: 0px; background-color: #ffffff; color: #cc1cae; border-bottom: solid 1px #cc1cae; -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.28); -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.28); box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.28); z-index: 999; }
.header a:hover { color: #cc1cae; }
.logo { width: 60%; height: 60px; line-height: 60px; padding-left: 50px; font-size:  2em; font-weight: bold; float: left; }
.logo img { width: 40px; height: 40px; margin-top: 10px; margin-right: 1px; float: left; }
.logo a { float: left; }
.logo span { font-size: 0.6em; }
.nav-icons { width: 30%; height: 60px; line-height: 60px; float: right; }
#nav-settings { display: none; float: right;}
.main-content{ display: none; width: 100%; height: 150px; padding: 50px 0; top: 50%; margin-top: -150px; position: absolute; text-align: center; align-items: center; }
.description { position: relative; width: 85%; height: 60px; margin: 0 auto; margin-bottom: 15px; color: #555555; line-height: 30px; font-size: 1.2em; }
#description { position: absolute; width: 100%; bottom: 0; left: 0; text-align: center; }
.descr-2 { color: #555555; }
.descr-mid { display: inline; padding: 0 10px; }
.descr-break { display: none; }
.input-wrapper { width: 100%; height: 118px; }
.input-wrapper form { display: inline-block; position: relative; }
.url { float: left; width: 700px; height: 45px; line-height: normal; padding: 0 10px; background: #ffffff; color: #000000; border: solid 2px #cc1cae; border-right: none; font-family: Montserrat; border-bottom-left-radius: 10px; border-top-left-radius: 10px; }
.submit { float: left; width: 49px; height: 49px; margin: 0; padding: 0; padding-left: 3px; background: #ffffff; border: solid 2px #cc1cae; border-left: none; font-size: 1em; font-family: icons; border-bottom-right-radius: 10px; border-top-right-radius: 10px; cursor: pointer; }
#button_ic { color: #cc1cae; }
.ref-buts { position: absolute; display: inline-block; }
.button-theme { width: 49px; height: 49px; margin: 0; padding: 0; background: #ffffff; border: solid 2px #cc1cae; color: #cc1cae; font-size: 1.5em; font-family: icons; border-radius: 10px; cursor: pointer; }
.ref-settings, .ref-reload { margin-left: 30px; }
.nav-settings { display: none; margin-top: 5px; margin-right: 50px; border: none; }
.ref-settings:hover, .ref-reload:hover, .nav-settings-highlight { background: #cc1cae; color: #ffffff; }
#ref-reload { display: none; }
.options { display: none; margin-top: 69px; }
.keyword { width: 400px; height: 49px; line-height: normal; padding: 0 10px; background: #ffffff; color: #000000; border: solid 2px #cc1cae; font-family: Montserrat; border-radius: 10px; }
.back-link { display: block; width: 100%; margin-top: 25px; text-align: center; }
.nopage { margin-right: 30px; font-size: 5em; color: #999999; }
.nopage-text { font-size: 1.2em; }
.footer { width: 100%; position: absolute; bottom: 0px; }
.footer ul { margin: 0 auto; padding: 0; list-style-type: none; width: 690px;  }
.footer ul li { float: left; line-height: 60px; }
.footer ul li:nth-child(1) { padding-left: 8px; }
.footer ul li:nth-child(2) { margin-left: 60px; }
.footer ul li a { background: none; margin-left: 5px; padding: 4px 8px; border-radius: 5px; }
.footer ul li a:hover { background: #cc1cae; color: #ffffff; }
.footer-copy { color: #bbbbbb; }
